<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Products</title>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<link rel="stylesheet" href="administrator.css">
</head>
<body>
	<div class="split left" id="sports_centers">
		<h3>{{title}}</h3>

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Content</th>
					<th>Status</th>
					<th>Location</th>
					<th>Image</th>
					<th>Average Grade</th>
					<th>Working Hours</th>
				</tr>
			</thead>

			<tr v-for="sc in sports_centers">

				<td>{{sc.id}}</td>
				<td>{{sc.name}}</td>
				<td>{{sc.centerType}}</td>
				<td>{{sc.content}}</td>
				<td>{{sc.status}}</td>
				<td>{{sc.location.street}}, {{sc.location.city}}</td>
				<td><img src="sc.imagePath" /></td>
				<td>{{sc.averageGrade}}</td>
				<td>{{sc.workingHours}}</td>

			</tr>

		</table>

		<form id="searchForm" onSubmit="return false;" @submit="search">
			<div orientation="vertical">
				<select name="cars" id="cars" v-model="selected">
					<option v-for="option in options" v-bind:value="option.value">
						{{ option.text }}</option>
				</select> <input type="text" v-model="searchText"></input>
				<button width="150px" height="150px" type="submit" value="Search">Search</button>
			</div>
		</form>

		<button type="button" v-on:click="showAdd()" width="150px"
			height="150px">Add new</button>


		<form v-bind:hidden="mode == 'BROWSE'" id="forma" @submit='addCenter'>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name"
						v-model="selectedCenter.name"></td>
				</tr>
				<tr>
					<td>Center Type:</td>
					<td><select name="centerType" id="centerType"
						v-model="selectedCenter.centerType">
							<option value="gym">Gym</option>
							<option value="pool">Pool</option>
							<option value="spa">SPA</option>
					</select></td>
				</tr>
				<tr>
					<td>Manger</td>
					<td><input type="text" name="name"
						v-model="selectedCenter.manager"></td>
				</tr>

				<tr>
					<td>Street and Num</td>
					<td><input type="text" name="street"
						v-model="selectedCenter.location.street"></td>
				</tr>
				<tr>
					<td>City</td>
					<td><input type="text" name="city"
						v-model="selectedCenter.location.city"></td>
				</tr>
				<tr>
					<td>Postal Code:</td>
					<td><input type="number" name="postalCode"
						v-model="selectedCenter.location.postalCode"></td>
				</tr>
				<tr>
					<td>Longitude:</td>
					<td><input type="text" name="longitudeLength"
						v-model="selectedCenter.location.longitudeLength"></td>
				</tr>
				<tr>
					<td>Latitude:</td>
					<td><input type="text" name="latitudeWidth"
						v-model="selectedCenter.location.latitudeWidth"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Add Center">Add Center</td>
				</tr>
			</table>
		</form>







		<div class="form-popup" id="myForm">
			<form action="/action_page.php" class="form-container">
				<h1>Login</h1>

				<label for="email"><b>Email</b></label> <input type="text"
					placeholder="Enter Email" name="email" required> <label
					for="psw"><b>Password</b></label> <input type="password"
					placeholder="Enter Password" name="psw" required>

				<button type="submit" class="btn">Login</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
			</form>
		</div>


	</div>

	<div class="split right">
		<table border="1">
			<thead>
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Birth Date</th>
					<th>Role</th>
				</tr>
			</thead>
			<tr v-for="u in users">

				<td>{{u.id}}</td>
				<td>{{u.name}}</td>
				<td>{{u.surname}}</td>
				<td>{{u.birthDate}}</td>
				<td>{{u.role}}</td>


			</tr>

		</table>
	</div>



	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>

	<script src="js/app.js"></script>

</body>
</html>