<!DOCTYPE html>
<html>

<head>
<title>Main Page</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div class="main">
		<div class="inner2">
			<div class="welcome">Sports Centers</div>
			<div class="registration_options">
				<div id="sportskiObjekti">

					<h3 style="text-align: right;">
					    <label v-bind:hidden="loggedUser.userName==undefined">bilo sta</label>
						<label v-bind:hidden="loggedUser.userName!=undefined"><a
							href="login.html">Log in</a> </label> <label
							v-bind:hidden="loggedUser.userName!=undefined"><a
							href="registration.html">Register</a> </label> <label
							v-bind:hidden="loggedUser.userName==undefined"><a
							href="myProfile.html">My profile</a> </label>
							<label v-bind:hidden="loggedUser.role!='manager'"><a
							href="managersCenter.html">My object</a></label>
							<label v-bind:hidden="loggedUser.userName==undefined"><button type="button" class="button" v-on:click="logOut()">Log out</button> </label>
		</h3>
					

					<p>
						<label v-bind:hidden="loggedUser.role!='admin'"><a
							href="users.html">All users</a></label><br>
						<label v-bind:hidden="loggedUser.role!='admin'"><a
							href="registerTrainer.html">Add new trainer</a></label><br>
						<label v-bind:hidden="loggedUser.role!='admin'"><a
							href="newSportsCenter.html">Create new sports center</a></label>		
					</p>

					<p>
						<label >Filters:</label>
						<select type="combobox" class="combobox" style="height: 30px; width: 180px" v-model="filterStatus">
							<option value="gym">Gym</option>
							<option value="pool">Bazen</option>
							<option value="sports center">Sports Center</option>
							<option value="fitness center">Fitnes Center</option>
						</select>
						<input type="checkbox" id="isOpen" v-model="isOpen" value="true">
						<label for="isOpen">Opened centers only:</label> 
					</p>
					
					
					
					<table border="1" id="tabela" class="table" style="margin-top:10px">
						<thead>
							<tr bgcolor="lightgrey">
								<th v-on:click="Sort(0)">Name</th>
								<th>Center Type</th>
								<th>Status</th>
								<th v-on:click="Sort(3)">Location</th>
								<th>Logo</th>
								<th v-on:click="Sort(5)">Average Grade</th>
								<th>Working Time</th>
							</tr>
						</thead>

						<tr v-for="sc in sportsCenters" v-on:click="Selected(sc)">
							<td style="font-size: 15px">{{sc.name }}</td>
							<td style="font-size: 15px">{{sc.centerType }}</td>
							<td style="font-size: 15px">{{sc.status}}</td>
							<td style="font-size: 15px">{{sc.location.street}} , {{sc.location.city}}</td>
							<td style="font-size: 15px"><img width="90" height="90" v-bind:src="'images/' + sc.imagePath" alt="No picture found"></td>
							<td style="font-size: 15px">{{sc.averageGrade}}</td>
							<td style="font-size: 15px">{{sc.opens}}-{{sc.closes}}</td>
						</tr>
					</table>
					<form id="searchForm" onSubmit="return false;" @submit="search">
				            <div orientation="vertical">
				                <select name="cars" id="cars" v-model="selected">
				                    <option v-for="option in options" v-bind:value="option.value">
				                        {{ option.text }}</option>
				                </select> 
				                <input type="text" v-model="searchText"></input>
				                <button width="150px" height="150px" type="submit" value="Search">Search</button>
				            </div>
				        </form>


				</div>
			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/main.js"></script>
</body>

</html>