<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
<title>My Profile</title>
</head>

<body>
	<div class="container" id="mojProfil">
		
		
		<h1 class="title">My profile</h1>
		<label><a href="main.html" class="lnkbtn">Main page</a></label>
		<form @submit='updateUser' class="registartion-form">
			<table>
				<tr>
					<td>
						Name:
					</td>
					<td>
						<input type="text" name="name"
							placeholder="Enter your name" required v-model="newUser.name"
							pattern="[A-Za-z]{1,32}" >
					</td>
				</tr>

				<tr>
					<td>
						Surname:
					</td>
					<td>
						<input type="text"
							name="surname" placeholder="Enter your surname" required
							v-model="newUser.surname" pattern="[A-Za-z]{1,32}">
					</td>
				</tr>

				<tr>
					<td>
						Birth Date:
					</td>
					<td>
						<input type="date"
							name="birthDate" placeholder="Enter your birth date" required
							v-model="newUser.birthDate">
					</td>
				</tr>

				<tr>
					<td>
						Sex:
					</td>
					<td>
						<select type="combobox"
							class="combobox" width="15" required
							v-model="newUser.sex" size=1
							style="width: 300px; height: 40px; border-radius: 5px; font-size: 16px">
							<option value="female">Female</option>
							<option value="male">Male</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>
						Username:
					</td>
					<td>
						<input type="text"
							name="userName" placeholder="Enter your username" required
							v-model="newUser.userName">
					</td>
				</tr>

				<tr>
					<td>
						Password:
					</td>
					<td>
						<input type="password"
							name="password" placeholder="Enter your password" required
							v-model="newUser.password">
					</td>
				</tr>

				<tr>
					<td>

					</td>
					<td>
						<input type="submit" value="Update" class="submit">
					</td>
				</tr>
			</table>
		</form>

		<div class="input-box" v-bind:hidden="newUser.role!='customer'">
			<label><a href="payFee.html" class="lnkbtn">Pay Fee</a></label>
		</div>

		<p> {{error }} </p>
		<!-- 
		<h3 v-bind:hidden="newUser.role!='customer'">Treninzi</h3>
		<p v-bind:hidden="newUser.role!='customer'">
			<label>Sports Center:</label>
			<input type="text" name="objekat" v-model="searchObjekat"><br>
			<label>Date:</label>
			<input type="date" name="pocetni datum" v-model="pocetniDatum">
			<input type="time" name="pocetno vreme" v-model="pocetnoVreme">
			<label>-</label>
			<input type="date" name="krajni datum" v-model="krajnjiDatum">
			<input type="time" name="krajnje vreme" v-model="krajnjeVreme">
			<button value="Pretrazi" v-on:click="pretraziTreninge">Pretrazi</button>
		</p>
-->
		<table border="1" id="tabela" v-bind:hidden="newUser.role!='customer'" class="table2">
			<caption style="background:pink;">Teninzi</caption>
			<thead>
				<tr bgcolor="lightgrey">
					<th>Naziv</th>
					<th>Sportski objekat</th>
					<th>Datum i vreme</th>
				</tr>
			</thead>

			<tr v-for="it in istorijeTreninga">
				<td>{{it.training.name }}</td>
				<td>{{it.training.sportsCenter.name }}</td>
			
				<td>{{it.date}}</td>
			</tr>
		</table>
		
		
		<h3 v-bind:hidden="newUser.role!='trainer'">Personal trainings</h3>
		
		<table border="1" id="personalTable" v-bind:hidden="newUser.role!='trainer'" class="table2">
			<caption style="background:pink;">Personal trainings</caption>
			<thead>
				<tr bgcolor="lightgrey">
					<th>Termin</th>
					<th>Customer</th>
					<th>Sports Center</th>
				</tr>
			</thead>

			<tr v-for="pt in personalniTreninzi">
				<td>{{pt.trainingDate }}</td>
				<td>{{pt.customerName }}</td>
				<td>{{pt.centerName}}</td>
				<td><button type="button" v-on:click="cancelTraining(pt)">Otkazi</button></td>
			</tr>
		</table>
		
		<h3 v-bind:hidden="newUser.role!='trainer'">Grupni treninzi</h3>
		
		<table border="1" id="tabelaGrupni" v-bind:hidden="newUser.role!='trainer'" class="table2">
			<caption style="background:pink;">Grupni treninzi</caption>
			<thead>
				<tr bgcolor="lightgrey">
					<th>Naziv</th>
					<th>Tip</th>
					<th>Sportski objekat</th>
					<th>Trajanje</th>
					<th>Opis</th>
				</tr>
			</thead>

			<tr v-for="gt in grupniTreninzi">
				<td>{{gt.name }}</td>
				<td>{{gt.trainingType }}</td>
				<td>{{gt.sportsCenter.name}}</td>
				<td>{{gt.duration }}</td>
				<td>{{gt.description }}</td>
			</tr>
		</table>
	</div>


	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/myProfile.js"></script>

</body>
</html>