<!DOCTYPE html>
<html>

<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div id ="registration">
		<h3>{{title}}</h3>

		

		<form id="forma"  @submit='registerUser'>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="userName" v-model="user.userName"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" v-model="user.password"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" v-model="user.name"></td>
				</tr>
				<tr>
					<td>Surname</td>
					<td><input type="text" name="surname" v-model="user.surname"></td>
				</tr>
				<tr>
					<td>Sex:</td>
					<td><input type="radio" id="male" name="sex"
						value="male" v-model="user.sex"> <label
						for="male">Male</label> 
						<input type="radio" id="female"
						name="sex" value="female" v-model="user.sex">
						<label for="female">Female</label></td>
				</tr>
				<tr>
					<td>Birth Date</td>
					<td><input type="date" name="birthDate" v-model="user.birthDate"></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Register"></td>
				</tr>
			</table>
			<p id="error" >{{error}}</p>
		</form>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/registration.js"></script>
	
</body>

</html>